<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="icon" href="/img/weathericon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="main-content">
    {{>header}}
    <p>This site was created by Torfs Jellis. It uses data from mapbox.com and darkskies.net</p>
    <img class="portrait" src="img/weather.png" alt="weather img">
</div>
{{>footer}}
</body>
</html>